.card {
    background-color: #ffffff; /* Fundo branco para um visual mais clean */
    color: #333; /* Texto escuro para bom contraste */
    padding: 25px;
    margin-top: 20px;
    border-radius: 10px; /* Bordas mais arredondadas */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra mais suave e maior para profundidade */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card:hover {
    transform: translateY(-8px); /* Card eleva mais com o hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra mais forte e mais ampla no hover */
}

.card-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.card-header h2 {
    margin-left: 10px; /* Espaçamento entre o ícone e o título */
    font-size: 1.5rem;
    font-weight: 600;
    color: #2c3e50; /* Cor de texto mais sofisticada */
}

.card-header .icon {
    font-size: 30px;
    color: #3498db; /* Cor do ícone */
}

.card-content {
    width: 100%;
}

.card > div {
    margin-bottom: 15px;
}

.card > div:last-child {
    margin-bottom: 0;
}
